doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The Number Quiz
        link(rel="stylesheet", href="/css/quiz.css", type="text/css")
    body 
        div
            h1 The Number Quiz
            p Your currenct score is #{score}.

            if isComplete
                p You have completed the Number Quiz with a score #{score} out of #{count}
            else
                p Guess the next number in the sequences
                p #{sequence}
                - var score = score;
                - var count = count;
                form(method="post")
                    label(for="answer") Your Answer:
                    input(id= "answer" type="text" name="answer" required)
                    input( type="hidden" name="score" value=score)
                    input(type="hidden" name="count" value=count)
                    br
                    button(type="submit") Submit